# Ignore build and dist folders
__pycache__/
.vscode/
bin/
bin2/
bin3/
data/
lbm_reversal_data_cifar0_32_train/
lbm_reversal_data_cifar0_32_test/
log/
lbm_reversal_data_cifar_all_32_train/
lbm_reversal_data_cifar_all_32_test/
lbm_sto_reversal_data_cifar0_32_train/
lbm_sto_reversal_data_cifar0_32_test/